/* mobile responsive style start */

@media screen and (max-width: 576px) {

    /* header seciton */
    .menubar {
        display: none;
    }

    .hambar {
        display: block;
    }

    /* hero section */
    .hero-section {
        display: block;
    }

    .hero-left,
    .hero-right {
        width: 100%;
    }

    .hero-left {
        margin-top: 75px;
    }

    .hero-right {
        margin-top: 35px;
    }
    .dev-img-container{
        height: 60vh;
    }

    .auto-type-text {
        font-size: 28px;
    }
    /* about me responsive */
    .about-me{
        gap: 35px;
        display: block;
        margin-top: 30px;
    }
    .info-box .info-title{
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        width: 110px;
    }
    .about-right,
    .about-left{
        width: 100%;
    }
    .about-right{
        margin-top: 20px;
    }
    .about-left{
     display: none;
         
    }

    /* resume style */
    .section-description2{
        width: 100%;
    }
    .resume-box-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .resume-box h2{
        font-size: 28px;
    }
    .resume-box h3{
        font-size: 20px;
     
    }
    .resume-box .resume-description{
        font-size: 14px;
         
    }

    /* service box */
    .service-box-container{
        grid-template-columns: repeat(1, 1fr);
    }
    

}

/* mobile responsive style end */

/* tablate responsive style start */
@media screen and (min-width: 576px) and (max-width: 768px) {

    /* header seciton */
    .menubar {
        display: none;
    }

    .hambar {
        display: block;
    }

    /* hero section */
    .hero-section {
        display: block;
    }

    .hero-left,
    .hero-right {
        width: 100%;
    }

    .hero-left {
        margin-top: 85px;
        
    }

    .hero-right {
        margin-top: 75px;
    }
    .dev-img-container{
        height: 70vh;
    }
  
    .auto-type-text {
        font-size: 28px;
    }
    /* about me responsive */
    .section-description2{
        width: 90%;
    }
    .about-me{
        gap: 35px;
        display: block;
        margin-top: 30px;
    }
    .info-box .info-title{
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        width: 110px;
    }
    .about-right,
    .about-left{
        width: 100%;
    }
    .about-right{
        margin-top: 60px;
    }
  
    .about-left{
        display: none;
    }
    /* resume */
    .resume-box-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .resume-box{
        width: 100%;
        height: 350px;
        overflow: hidden;
    }
    .resume-box h2{
        font-size: 29px;
        line-height: 24px;
       
    }
    .resume-box h3{
        font-size: 18px;
        font-weight: 400;
    }
    .resume-box .certification-from{
        font-size: 12px;
    }
    .resume-box .resume-description{
        font-size: 15px;
        line-height: 23px;
    }
      /* service box */
      .service-box-container{
        grid-template-columns: repeat(2, 1fr);
    }

}

/* tablate responsive style end */

/* md to xl device responsive style start  */
@media screen and (min-width: 768px) and (max-width: 992px) {

    .menubar ul {
        gap: 2px;
    }

    .menubar ul li a {
        font-size: 14px;
        padding: 8px;
    }

    /* hero section */
    .dev-img-container{
        height: 44vh;
    }
    .hero-dev-name{
        font-size: 23px;
    }
    .auto-type-text{
        font-size: 28px;
    }

    /* about me */
    
    /* resume */
   
    .section-description2{
        width: 90%;
    }
    /* service */
    .small-bar::after{
       display: none;
    }   


}

/* md to xl device responsive style end  */

/* md to xl device responsive style start  */
@media screen and (min-width: 992px) and (max-width: 1200px) {

    .menubar ul {
        gap: 5px;
    }
    .dev-img-container{
        height: 45vh;
    }



}

/* md to xl device responsive style end  */