/* mobile responsive style start */

@media screen and (max-width: 576px) {

    /* header seciton */
    .menubar {
        display: none;
    }

    .hambar {
        display: block;
    }

    /* hero section */
    .hero-section {
        display: block;
    }

    .hero-left,
    .hero-right {
        width: 100%;
    }

    .hero-left {
        margin-top: 75px;
    }

    .hero-right {
        margin-top: 35px;
    }
    .dev-img-container{
        height: 40vh;
    }

    .auto-type-text {
        font-size: 28px;
    }
    /* about me responsive */
    .about-me{
        gap: 35px;
        display: block;
        margin-top: 30px;
    }
    .info-box .info-title{
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        width: 110px;
    }
    .about-right,
    .about-left{
        width: 100%;
    }
    .about-right{
        margin-top: 60px;
    }
    .about-left{
     display: none;
         
    }

}

/* mobile responsive style end */

/* tablate responsive style start */
@media screen and (min-width: 576px) and (max-width: 768px) {

    /* header seciton */
    .menubar {
        display: none;
    }

    .hambar {
        display: block;
    }

    /* hero section */
    .hero-section {
        display: block;
    }

    .hero-left,
    .hero-right {
        width: 100%;
    }

    .hero-left {
        margin-top: 75px;
    }

    .hero-right {
        margin-top: 35px;
    }
    .dev-img-container{
        height: 40vh;
     
    }
    .auto-type-text {
        font-size: 28px;
    }
    /* about me responsive */
    .about-me{
        gap: 35px;
        display: block;
        margin-top: 30px;
    }
    .info-box .info-title{
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        width: 110px;
    }
    .about-right,
    .about-left{
        width: 100%;
    }
    .about-right{
        margin-top: 60px;
    }
    .about-left{
        display: none;
    }

}

/* tablate responsive style end */

/* md to xl device responsive style start  */
@media screen and (min-width: 768px) and (max-width: 992px) {

    .menubar ul {
        gap: 2px;
    }

    .menubar ul li a {
        font-size: 14px;
        padding: 8px;
    }

    /* hero section */
    .dev-img-container{
        height: 100vh;
        /* margin-top: 45px; */
    }
    .hero-dev-name{
        font-size: 23px;
    }
    .auto-type-text{
        font-size: 28px;
    }


}

/* md to xl device responsive style end  */

/* md to xl device responsive style start  */
@media screen and (min-width: 992px) and (max-width: 1200px) {

    .menubar ul {
        gap: 5px;
    }



}

/* md to xl device responsive style end  */