/* universal css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
}

/* universal css */

/* shared style start*/
.container {
    width: 85vw;
    height: auto;
    margin: 0 auto;

}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: #FFFFFF;
}

.text-dark {
    color: rgb(22, 22, 22);
}

.text-secondary {
    color: #FFBD39;
}
.text-description2{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.4;
}
.text-description {
    color: #828282;
    opacity: 0.7;
    padding: 15px 0px;
}

.bg-secondary {
    background-color: #FFBD39;
}

.d-none {
    display: none;
}

.btn-primary {
    display: inline-block;
    padding: 15px 32px;
    border-radius: 25px;
    background: #FFBD39;
    font-size: 16px;
    font-weight: 400;
}

/* shared style end*/

/* header section style start */
header {
    padding-bottom: 45px;
}

.web-logo h2 a {
    font-size: 32px;
    font-weight: 800;
    line-height: 29px;
}

nav {
    padding-top: 25px;
}

.menubar ul {
    gap: 24px;
}

.menubar ul li a {
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;

}

.hambar i {
    font-size: 28px;
}

/* hero section */
.hero-section {
    gap: 15px;
}

.hero-left,
.hero-right,
.about-left,
.about-right {
    width: calc(50% - 15px);
}

.hero-left {
    margin-top: 110px;
}

.hello-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
}

.hero-dev-name {
    font-size: 28px;
    font-weight: 800;

}

.auto-type-text {
    font-size: 32px;
    font-weight: 900;
    margin: 34px 0px 0px 0px;
    letter-spacing: 0.8px;
    height: 70px;
    /* background: red; */
    display: flex;
    align-items: center;
    border-top: 2px solid #FFBD39;
    border-bottom: 2px solid #FFBD39;
}

.hero-left a {
    margin: 15px 10px 0px 0px;
}

.btn-my-works {
    background: none;
    border: 1px solid rgb(233, 230, 230);
}

.dev-img-container {
    background-image: url(../images/developer-img.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* header section style end */

/* main section style start*/
.about-me{
    gap: 35px;
    margin-top: 80px;
}
.about-me-img img{
    width: 100%;
}
.section-description{
    padding: 25px 0px;
}

.info-box{
    gap: 45px;
    padding: 8px 0px;
}
.info-box .info-title{
    font-size: 19px;
    font-weight: 700;
    line-height: 29px;
    width: 140px;
}
.info-box p > a{
    color: #ffffff;
}
.about-right h3{
    margin: 45px 0px 25px 0px;
}
/* main section style end*/